@font-face {
  font-family : 'calibri';
  src         : url(../fonts/calibri.eot);
  src         : url(../fonts/calibri.eot?#iefix) format("embedded-opentype"),
  url(../fonts/calibri.woff) format("woff"),
  url(../fonts/calibri.ttf) format("truetype"),
  url(../fonts/calibri.svg#calibri) format("svg");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'museosanscyrl700';
  src         : url(../fonts/museosanscyrl-700.eot);
  src         : url(../fonts/museosanscyrl-700.eot?#iefix) format("embedded-opentype"),
  url(../fonts/museosanscyrl-700.woff) format("woff"),
  url(../fonts/museosanscyrl-700.ttf) format("truetype"),
  url(../fonts/museosanscyrl-700.svg#museosanscyrl700) format("svg");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'museosanscyrl500';
  src         : url(../fonts/museosanscyrl-500.eot);
  src         : url(../fonts/museosanscyrl-500.eot?#iefix) format("embedded-opentype"),
  url(../fonts/museosanscyrl-500.woff) format("woff"),
  url(../fonts/museosanscyrl-500.ttf) format("truetype"),
  url(../fonts/museosanscyrl-500.svg#museosanscyrl500) format("svg");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'museosanscyrl300';
  src         : url(../fonts/museosanscyrl-300.eot);
  src         : url(../fonts/museosanscyrl-300.eot?#iefix) format("embedded-opentype"),
  url(../fonts/museosanscyrl-300.woff) format("woff"),
  url(../fonts/museosanscyrl-300.ttf) format("truetype"),
  url(../fonts/museosanscyrl-300.svg#museosanscyrl500) format("svg");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'theatre_icons';
  src         : url('../fonts/theatre_icons.eot?tj6l6y');
  src         : url('../fonts/theatre_icons.eot?tj6l6y#iefix') format('embedded-opentype'),
                url('../fonts/theatre_icons.ttf?tj6l6y') format('truetype'),
                url('../fonts/theatre_icons.woff?tj6l6y') format('woff'),
                url('../fonts/theatre_icons.svg?tj6l6y#theatre_icons') format('svg');
  font-weight : normal;
  font-style  : normal;
}

