include mixins
doctype html
html(lang='ru')
  +dev_head('Dram news', false, false, false, false, true)

  body
    .wrapper
      //.rect_1024
      +header(5)
      
      .base
        +news_hero()
        
        div.main_content
          .section_inner: .news_block
            +aside_calendar()

            .content_block: ul.news_list
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title «У 8 женщин мужчина без... счастья» 
                .news_text: p Спектакль "Женитьба Бальзаминова" отличается своей современностью и актуальностью. Остроумный, ироничный текст А. Н. Островского, большого знатока человеческой природы и человеческих нравов, давно разобран на цитаты. Актеры представят историю не слишком умного, но очень практичного молодого человека Миши Бальзаминова редкость и в современном обществе.
                
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Приглашаем на новогоднюю сказку и елку!
                .news_text: p Дорогие друзья!  <br>               С 20 декабря северодвинский драматический театр с радостью приглашает вас и ваших детей на новогоднюю сказку "Снежные искорки" с новогодней ёлкой!  <br> Цена билета - 300 рублей (независимо от возраста ребенка).
                
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Победители конкурса рисунков среди               школьников ”Театр глазами детей"
                .news_text: p Победители конкурса рисунков среди школьников ”Театр глазами детей"  <br>               Конкурс посвященн 75–летию Северодвинского театра драмы.  <br> Детские художественные книги в качестве призов победителям конкурса предоставил торговый   <br> центр «Книжный»
                
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Победители конкурса рисунков среди               школьников ”Театр глазами детей"
                .news_text: p Победители конкурса рисунков среди школьников ”Театр глазами детей"  <br>               Конкурс посвященн 75–летию Северодвинского театра драмы.  <br> Детские художественные книги в качестве призов победителям конкурса предоставил торговый   <br> центр «Книжный»  

              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Приглашаем на новогоднюю сказку и елку!
                .news_text: p Дорогие друзья!  <br>               С 20 декабря северодвинский драматический театр с радостью приглашает вас и ваших детей на новогоднюю сказку "Снежные искорки" с новогодней ёлкой!  <br> Цена билета - 300 рублей (независимо от возраста ребенка).
                
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Победители конкурса рисунков среди               школьников ”Театр глазами детей"
                .news_text: p Победители конкурса рисунков среди школьников ”Театр глазами детей"  <br>               Конкурс посвященн 75–летию Северодвинского театра драмы.  <br> Детские художественные книги в качестве призов победителям конкурса предоставил торговый   <br> центр «Книжный»
              
              li.news_unit
                .news_title_holder
                  .news_date(datetime="2012-08-08T11:19") 8 августа
                  h2.news_title Приглашаем на новогоднюю сказку и елку!
                .news_text: p Дорогие друзья!  <br>               С 20 декабря северодвинский драматический театр с радостью приглашает вас и ваших детей на новогоднюю сказку "Снежные искорки" с новогодней ёлкой!  <br> Цена билета - 300 рублей (независимо от возраста ребенка).
                
                
                
      +footer()
