include mixins
doctype html
html(lang='ru')
  +dev_head('Dram visitors', false, false, false, false, false, false, false, false, true)

  body
    .wrapper
      +header(4)
      
      .base
        +spectacle_hero(true)
        
        div.main_content
          .section_inner
            .tabBlock(data-tab-context='#filter_list')
              #filter_tab_1
                +tickets()
              #filter_tab_2
                +scene_map()
              #filter_tab_3
                .guests_block
                  ul.reviews_list.visitors_mod
                    li.review_unit
                      h3.review_title.openReviewBtn Общее положение
                      .review_block
                        p 1. Уважаемые зрители! Обратите внимание на ряд правил, которые необходимо соблюдать, чтобы вечер, проведенный в нашем театре оставил самые приятные впечатления.
                        p 2. Целью данных правил является обеспечение сохранности имущества театра, охрана общественного порядка, обеспечение безопасности посетителей и персонала.
                        p 3. При соблюдении правил посещения театра вы непременно приятно проведете время и получите настоящее удовольствие от мероприятия!
                
                    li.review_unit
                      h3.review_title.openReviewBtn Продажа билета
                      .review_block
                        p 1. Уважаемые зрители! Обратите внимание на ряд правил, которые необходимо соблюдать, чтобы вечер, проведенный в нашем театре оставил самые приятные впечатления.
                        p 2. Целью данных правил является обеспечение сохранности имущества театра, охрана общественного порядка, обеспечение безопасности посетителей и персонала.
                        p 3. При соблюдении правил посещения театра вы непременно приятно проведете время и получите настоящее удовольствие от мероприятия!
                        
                    li.review_unit
                      h3.review_title.openReviewBtn Пропускной режим
                      .review_block
                        p 1. Уважаемые зрители! Обратите внимание на ряд правил, которые необходимо соблюдать, чтобы вечер, проведенный в нашем театре оставил самые приятные впечатления.
                        p 2. Целью данных правил является обеспечение сохранности имущества театра, охрана общественного порядка, обеспечение безопасности посетителей и персонала.
                        p 3. При соблюдении правил посещения театра вы непременно приятно проведете время и получите настоящее удовольствие от мероприятия!
                
                    li.review_unit
                      h3.review_title.openReviewBtn Зрительный зал
                      .review_block
                        p 1. Уважаемые зрители! Обратите внимание на ряд правил, которые необходимо соблюдать, чтобы вечер, проведенный в нашем театре оставил самые приятные впечатления.
                        p 2. Целью данных правил является обеспечение сохранности имущества театра, охрана общественного порядка, обеспечение безопасности посетителей и персонала.
                        p 3. При соблюдении правил посещения театра вы непременно приятно проведете время и получите настоящее удовольствие от мероприятия!
                                
                    li.review_unit
                      h3.review_title.openReviewBtn Театральный буфет
                      .review_block
                        p 1. Уважаемые зрители! Обратите внимание на ряд правил, которые необходимо соблюдать, чтобы вечер, проведенный в нашем театре оставил самые приятные впечатления.
                        p 2. Целью данных правил является обеспечение сохранности имущества театра, охрана общественного порядка, обеспечение безопасности посетителей и персонала.
                        p 3. При соблюдении правил посещения театра вы непременно приятно проведете время и получите настоящее удовольствие от мероприятия!
                        
              #filter_tab_4 програмки
              #filter_tab_5 экскурсии
              #filter_tab_6 бар
                
                

      +footer()
